@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, Arial;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

/* LOGO + s'inscrire */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header a {
  font-weight: 700;
}

/* Lien de navigation */
nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 1rem;
  border-bottom: 3px solid var(--gray);
  color: black;
  width: 100%;
  text-align: center;
}

nav a[data-active="true"] {
  color: #0065fc;
  border-bottom: 3px solid var(--blue);
}

/* FILTER */
.filterContainer {
  padding: 10px;
}

.filterTitle {
  padding-top: 1rem;
}

.filterTitle h1 {
  font-size: 23px;
}

.filterTitle h2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}

.filterSearchBar {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.filterSearchBar i:first-of-type {
  padding: 16px;
  background-color: var(--gray);
  border-radius: 10px 0 0 10px;
}

.filterInput {
  padding: 15px;
  border: none;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  width: 70%;
}

.filterInput::placeholder {
  font-weight: 700;
  color: black;
  font-size: 15px;
}

.filterSearchBar a > i:last-of-type {
  background-color: var(--blue);
  border-radius: 15px;
  color: white;
}

.filterTitle {
  margin: 0 0 1rem 0;
}

.filterResult {
  padding-left: 10px;
  flex-wrap:wrap;
}

.filterButton {
  display: flex;
  align-items: center;
  flex-basis: calc(50% /2);
  border-radius: 50px;
  border: 3px solid var(--gray);
  border-left-style: none;
  font-weight: 700;
  margin-bottom: 10px;
  width: 180px;
  color: black;
  transition: 0.1s;
}

.filterButton:hover {
  background-color: var(--light-blue);
}

.filterButton i {
  background-color: var(--light-blue);
  padding: 15px;
  border-radius: 100%;
  color: var(--blue);
  font-size: 15px;
  width: 30%;
  text-align: center;
  font-weight:700;
}

.filterButton p {
  padding: 0 0 0 10px;
  width: 80%;
}

.filterButton:last-of-type {
  margin-bottom: 2rem;
}

.filterResultInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filterResultInfo p{
  font-size:15px;
}

.filterResultInfo i {
  height: 2em;
  width: 2em;
  min-height: 2em;
  min-width: 2em;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  font-size: 13px;
  margin-right: 1rem;
}

/* HOSTING */

.hostingAside,.hostingMainSection{
  padding:10px;
}

.hostingAside{
  background-color:var(--gray);
}

.hostingTitle{
  display:flex;
  font-size:20px;
  padding:2.5em 0 0 0;
  margin-bottom:2rem;
  justify-content:space-between;
}

.hostingTitle i{
  font-size:25px;
}

.hostingItemGeneral{
  background-color: white;
  padding: 0.275rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
}

.hostingAsideItem{
  display:flex;
  margin-bottom:1rem;
}

.hostingAsideImgContainer{
  width:45%;
  height:9rem;
}

.hostingAsideImgContainer img{
  max-width: 100%;
  max-height: 100%;
  height:9rem;
  width:100%;
  border-radius:1.25rem 0 0 1.25rem;
  object-fit:cover;
}

.hostingAsideContentContainer{
  display:flex;
  flex-direction:column;
  padding:0.675rem;
  color:black;
  width:60%;
}

.hostingItemTitle{
  font-size:16px;
}

.hostingStar{
  display:flex;
  align-items:flex-end;
  flex-grow:1;
  color:var(--blue);
  padding-bottom:1px;
  font-size:12px;
}

.hostingStar i[data-active="false"]{
  color:var(--gray);
}

.hostingMainSection{
  display:flex;
  flex-direction:column;
}

.hostingMainItem{
  margin-bottom:2rem;
}

.hostingMainItem img{
  border-radius:1.25rem 1.25rem 0 0;
  width:100%;
  height:7rem;
  object-fit:cover;
}

.hostingMainItemContent{
  display:flex;
  flex-direction:column;
  color:black;
  padding:10px 0 0 10px;
}

.hostingMainItemContent h5{
  font-size:16px;
  font-weight:700;
  margin-bottom:10px;
}

.hostingMainItemContent > .hostingStar{
  padding:8px 0 8px 0;
}

.showMore{
  color:black;
  font-weight:700;
  padding-left:10px;
}

/* ACTIVITY */

#activity{
  padding:10px;
  display:flex;
  flex-direction:column;
}

.activityItemContainer{
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  border-radius:20px;
  margin-bottom:1rem;
}

.activityItemImg img{
  max-width:100%;
  width:100%;
  height:8rem;
  border-radius:20px 20px 0 0;
  object-fit:cover;
}

.activityItemTitle{
  text-align:left;
  padding:1rem 0 1rem 1rem;
  color:black;
  font-weight:700;
  font-size:20px;
}

/* FOOTER */
footer{
  display:flex;
  flex-direction:column;
  background-color:var(--gray);
  padding:1rem;
}

footer a,h6{
  padding-top:1rem;
  color:black;
}

footer a:last-of-type{
  margin-bottom:1rem;
}

.footerContainer h6{
  font-size:18px;
}

.footerAbout,.footerHosting,.footerSupport{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

@media (min-width:678px) and (max-width:1024px){
  .filterSearchBar{
    text-align:left;
  }

  .filterInput{
    width:35%;
  }

  .filterResult{
    display:flex;
    flex-wrap:wrap;
  }

  .filterTitle{
    flex-basis: calc(100%);
  }

  .filterButton{
    flex-basis: calc(100% /3);
  }

  .filterButton i{
    width:50px;
  }

  .filterResultInfo{
    justify-content: flex-start;
  }

  .hostingMainSection{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  .hostingTitle{
    flex-basis:calc(100%);
  }

  .hostingMainItem{
    flex-basis:calc(60% / 2);
  }

  .showMore{
    flex-basis:calc(100%);
  }

  #activity{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
  }

  .activityTitle{
    flex-basis:calc(100%);
  }

  .activityItemContainer{
    flex-basis:calc(60% / 2);
  }
}

