@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, Arial;
  margin:auto;
}

header,main {
  padding: 1rem;
  max-width: 1440px;
  margin:auto;
}

a{
    text-decoration:none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-top: 12.5px;
}

.navLink,
.signUp {
  text-decoration: none;
  padding: 2rem;
  color: black;
}

.navLink:hover {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}

.navLink[data-active="true"] {
  color: var(--blue);
  border-top: 3px solid var(--blue);
}

.signUp {
  font-weight: 700;
  color: var(--blue);
}

/* SEARCH */

.search {
  margin-bottom: 3rem;
}

.searchIcon,
.searchInput,
.searchButton {
  padding: 1rem 1.25rem;
}

.searchForm {
  max-width: 100%;
  display: inline-flex;
  overflow: auto;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.searchIcon {
  background-color: var(--gray);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: auto;
}

.searchInput {
  border-left: none;
  border-right: none;
  border: 1px solid var(--gray);
  font-weight: 700;
}

.searchInput::placeholder {
  color: black;
}

.searchButton {
  background-color: var(--blue);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-weight: 700;
}

.filterContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filterContainer h4 {
  margin-right: 1rem;
}

.filterButton {
  border: 3px solid var(--gray);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.filterButton:hover{
  background-color:var(--light-blue);
  cursor: pointer;
}
.filterWrapIcon i {
  color: var(--blue);
  background-color: var(--light-blue);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  margin: -3px;
}

.filterTitle {
  font-weight: 700;
  margin: 10px;
}

.filterResult {
  display: flex;
  align-items: center;
}

.resultIcon {
  border: 1px solid var(--gray);
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  margin-right: 10px;
}

/* HOSTING */
#hosting{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    margin-bottom:3rem;
}

.hostingMainSection{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 10px;
    background-color:var(--gray);
    border-radius:20px;
    padding:2rem;
}

.hostingHeader{
    grid-column: 1/-1;
    font-size:23px;
}

.hostingItem{
    background-color:white;
    border-radius:20px;
    padding:5px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    max-height:212px;
}

.hostingItem:hover{
  background-color:var(--light-blue);
}
.hostingItem a{
  color:black;
}

.hostingItem img{
    border-radius:20px 20px 0 0;
    width:100%;
    height:8em;
    max-height:100%;
    object-fit:cover;
    margin-bottom:5px;
}

.hostingContent{
    padding-left:10px;
}

.hostingItem p,.hostingAsideContent p{
    margin:5px 0;
}

.hostingStar{
    color:var(--blue);
    font-size:12px;
}

.hostingStar i[data-active="false"]{
    color:var(--gray);
}

.showMore{
  font-weight:700;
  padding-top:1rem;
}
/* HOSTING ASIDE */
#hostingAside{
    background-color:var(--gray);
    border-radius:20px;
    padding:2rem;
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}

.hostingAsideHeader{
    display:flex;
    justify-content:space-between;
    margin:0;
}

.hostingAsideHeaderLink{
  display:flex;
  margin:0;
}

.hostingAsideItem{
    display:flex;
    height:10rem;
}

.hostingAsideImg{
    width:35%;
    max-width:50%;
}

.hostingAsideImg img{
    border-radius:20px 0 0 20px;
    height:100%;
    max-height:10rem;
    object-fit: cover;
}

.hostingAsideContent{
    display:flex;
    flex-direction:column;
    width:50%;
}

.hostingStarAside{
  padding:8px;
}

.whiteSpace{
    flex:1;
}

/* ACTIVITY */

#activity{
    display:grid;
    column-gap:2rem;
    margin:4rem 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}

.hostingHeader{
    grid-column: 1/-1;
}

.activityHeader{
    margin-bottom:3rem;
}

.activityItem{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}

.activityImg{
    position: relative;
    flex: 1;
}

.activityImg img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activityTitle{
    margin: 1.2rem 1.5rem;
    text-align:center;
    color:black;
}

.activityItem1{
    grid-row: 2/7;
    grid-column: 1/2;
}

.activityItem2{
    grid-column: 2/3;
    grid-row: 2/5;
}

.activityItem3{
    grid-column: 3/4;
    grid-row: 2/7;
}

.activityItem4{
    grid-column: 4/5;
    grid-row: 2/3;
}

.activityItem5{
    grid-column: 2/3;
    grid-row: 6/7;
}

.activityItem6{
    grid-column: 4/5;
    grid-row: 4/7;
}

/* FOOTER */

footer{
    background-color:var(--gray);
}

.footerContainer{
  margin:auto;
  display:flex;
  width:1440px;
}

.footerAbout,.footerHosting,.footerSupport{
    width:30%;
    padding:1rem;
}

footer h5{
    margin-bottom:1rem;
    font-size:18px;
}

.footerLink{
    display:block;
    color:black;
    margin-bottom:1rem;
}